.tabIntro{
    -fx-background-radius: 20px 0 0 0; 
}

.tab{
    -fx-font-weight: bold; 
    -fx-font-size : 150%;
    -fx-background-color : #2498D9; 
    -fx-text-base-color: white; 
    -fx-cursor: hand; 
}

.this{
    -fx-background-color : #badfdd;
}

.tfRecherche{
    -fx-background-radius: 20; 
    -fx-background-color: lightblue; 
    -fx-prompt-text-fill: grey; 
    -fx-font-size: 125%; 
    -fx-text-inner-color: grey;
}

.hbTitre{
    -fx-background-color : #2498D9; 
    -fx-background-radius: 20 20 0 0; 
}

.titre{
    -fx-font-weight: bold; 
    -fx-font-size : 150%;
}

.l1Bis{
    -fx-font-weight: bold; 
    -fx-font-size : 150%; 
}

.l1{
    -fx-font-size : 150%;
}

.bPoursuivre{
    -fx-background-color: lightpink;
    -fx-font-weight: bold; 
    -fx-background-radius: 500px;
}

.tabQuestion{
    -fx-background-color : #e2f0f8; 
    -fx-background-radius: 20px 0 0 0;
}

.centre{
    -fx-background-color : #e2f0f8;
}

.bAjouterSujet{
    -fx-background-color : #2498D9;
    -fx-font-weight: bold; 
    -fx-background-radius: 500px;
    -fx-text-base-color: White; 
}

.bScroll{
    -fx-background-color : lightgreen; 
    -fx-font-weight: bold; 
    -fx-background-radius: 500px; 
    -fx-text-base-color: White;
}

.labClient{
    -fx-font-weight: bold; 
    -fx-font-size : 150%;
}

.gridPaneQuestionnaire{
    -fx-background-color: #e2f0f8;
}

.button{
    -fx-cursor: hand;
}